services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: airtable_lite
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  bff:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/airtable_lite
      PORT: 4000
      SEED: 'true'
    ports:
      - "4000:4000"

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    depends_on:
      - bff
    ports:
      - "3000:80"

volumes:
  db-data:
